@import '~antd/lib/style/themes/default.less';

.main{
  padding: 24px;
  background: #fff;
  @media screen and (max-width: @screen-sm) {
    padding: 10px;
  }
  .qtitle{
    font-size: 18px;
    .qicon{
      margin-right: 10px;
      font-size: 20px;
      color: #13C2C2;
    }
  }
  .title_wrapper{
    margin-top: 24px;
    margin-bottom: 12px;
    .title{
      display: inline-block;
    }
  }
  .answer{
    text-indent: 2em;
    margin-bottom: 30px;
  }
  .btn_wrapper{
    text-align: right;
    .answer_btn{
      margin: 10px auto;
    }
  }
  
}