@import '~antd/lib/style/themes/default.less';

.main{
  padding: 20px 0;
  background: #fff;
  :global {
    .ant-form-item {
      margin-bottom: 12px;
    }
  }
  .header{
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }
  .icon {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.2);
    margin-left: 16px;
    vertical-align: middle;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: @primary-color;
    }
  }

  .other {
    text-align: left;
    margin-top: 24px;
    line-height: 22px;

    .register {
      float: right;
      cursor: pointer;
      color: #139BEA;
    }
  }
}
