.form_wrapper {
  padding: 24px 12px;
  background: #fff;
  .mtbtom {
    margin-bottom: 12px;
  }
  .query_btn {
    margin-right: 12px;
  }
}
.result_wrapper{
  padding: 24px 12px;
  background: #fff;
}