.comment_box{
  .add_time{
    margin-left: 24px;
    font-size: 12px;
    color: #999;
    font-weight: normal;
  }
  .sub_comment{
   padding-left: 48px;
   box-sizing: border-box;
  }
  .comment_wraper{
    padding-left: 48px;
    box-sizing: border-box;
    margin-top: 10px;
  }
  .ant-list-empty-text{
    padding: 0;
  }
}
