html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.globalSpin {
  width: 100%;
  margin: 40px 0 !important;
}

ul,
ol {
  list-style: none;
}
// 重写样式 下策
div.ant-list-item-meta-avatar{
  margin-right: 8px;
}
.ant-notification {
  top: 24px;
  bottom: auto;
  transform: translateX(-50%);
  left: 50%;
}
div.ant-back-top{
  right: 16px;
}
