.p_wrapper{
  width: 100%;
  height: auto;
  .parent{
    position: relative;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #f9f9f9;
    .icon{
      padding-left: 16px;
      box-sizing: border-box;
    }
    .down{
      position: absolute;
      right: 36px;
      top: 12px;
    }
    .p_text{
      margin-left: 30px;
    }
    &:hover{
      cursor: pointer;
      background: #eff6f9;
    }
  }
}
.c_wrapper{
  width: 100%;
  .child{
    width: 100%;
    height: 46px;
    padding-left: 60px;
    line-height: 46px;
    box-sizing: border-box;
    &:hover{
      cursor: pointer;
      background: #E6FFFB;
    }
  }
  .child.selected{
    background: #139BEA;
    color: #fafafa;
  }
}